@model IEnumerable<Repository.Application.DataModel.PlanDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BasicProductLimitCode)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.BasicProduct.BpInsurerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolicyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Policy.PolicyNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BasicProductLimitCode)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.BasicProduct.BpInsurerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PolicyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Policy.PolicyNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { basicProductLimitCode = item.BasicProductLimitCode, BasicProductId = item.BasicProductId }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
