@model Repository.Application.DataModel.Client

@{
    ViewBag.Title = "Delete Client Company";
    if (Request.Params["layoutIsNull"] != null && Convert.ToBoolean(Request.Params["layoutIsNull"]) == true)
    {
        Layout = null;
    }
}

<div>
    <div class="box box-solid">
        <div class="box-header with-border">
            <b class="box-title">@ViewBag.Title</b>
        </div>

        <div class="box-body">
            <div class="row">
                <div>
                    @Html.Label("Type", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.Type)
                    </div>
                </div>
                <div>
                    @Html.Label("Contact Person", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.ContactPerson)
                    </div>
                </div>
            </div>

            <div class="row">
                <div>
                    @Html.Label("Client Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.FullName)
                    </div>
                </div>
                <div>
                    @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.Email)
                    </div>
                </div>
            </div>

            <div class="row">
                <div>
                    @Html.Label("Short Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.ShortName)
                    </div>
                </div>
                <div>
                    <div class="col-md-2"><b> </b></div>
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.EmailAddress1)
                    </div>
                </div>
            </div>

            <div class="row">
                <div>
                    @Html.Label("Founded Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @(Model.BirthDate.HasValue ? Model.BirthDate.Value.ToString("dd/MM/yyyy") : "-")
                    </div>
                </div>
                <div>
                    <div class="col-md-2"><b> </b></div>
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.EmailAddress2)
                    </div>
                </div>
            </div>

            <div class="row">
                <div>
                    @Html.Label("SIUP Number", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.IdNumber)
                    </div>
                </div>
                <div>
                    @Html.Label("Mobile Phone", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.MobilePhone1)
                    </div>
                </div>
            </div>

            <div class="row">
                @*<div>
                        @Html.Label("Branch Code", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DisplayFor(model => model.BranchCode)
                        </div>
                    </div>*@
                <div>
                    @Html.Label("ID Bank", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.BankAccountCode)
                    </div>
                </div>

                <div>
                    <div class="col-md-2"><b> </b></div>
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.MObilePhone2)
                    </div>
                </div>
            </div>

            <div class="row">
                <div>
                    @Html.Label("Bank Account Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.BankAccountName)
                    </div>
                </div>

                <div>
                    <div class="col-md-2"><b> </b></div>
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.MobilePhone3)
                    </div>
                </div>
            </div>

            <div class="row">
                <div>
                    @Html.Label("Bank Account Number", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.BankAccountNumber)
                    </div>
                </div>
                <div>
                    @Html.Label("Address", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.Address)
                    </div>
                </div>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <div class="box-footer">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleted" style="background-color:#008CBA; color:white;">Delete</button>
                        </div>
                    </div>
                </div>

                <div class="modal" id="deleted" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p><b>Are you sure to delete this client?</b></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" value="Delete" class="btn btn-default" style="background-color:#008CBA; color:white;" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>