@model Repository.Application.DataModel.Menu
<div class="box box-solid">
    <div class="box-header with-border">
        <b class="box-title">
            Details Menu
        </b>
    </div>

    <div class="box-body">
        <div class="row">
            <div>
                @Html.Label("Menu Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.MenuName)
                </div>
            </div>
        </div><br />

        <div class="row">
            <div>
                @Html.Label("Sequence", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.Sequence)
                </div>
            </div>
        </div><br />

        <div class="row">
            <div>
                @Html.Label("Icon Class", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.MenuIClass)
                </div>
            </div>
        </div><br />

        <div class="row">
            <div>
                @Html.Label("Menu Level", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.MenuLevel)
                </div>
            </div>
        </div><br />

        <div class="row">
            <div>
                @Html.Label("Roles Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.AspNetRoles1.Name)
                </div>
            </div>
        </div><br />

        <div class="row">
            <div>
                @Html.Label("Menu Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.Menu2.MenuName)
                </div>
            </div>
        </div><br />

        <div class="box-footer">
            <div class="form-group">
                @Html.ActionLink("Back", "Index", null, new { @Class = "btn btn-default" })
                @Html.ActionLink("Edit", "Edit", null, new { id = Model.MenuId }, new { @class = "btn btn-primary", @style = "background-color:#008CBA; color:white;" })
            </div>
        </div>

    </div>
</div>
