@model Repository.Application.DataModel.PremiumRate

@{
    ViewBag.Title = "Delete Premium Rate";
}

<div class="box box-solid">
    <div class="box-body">
        <div class="box-header with-border">
            <b class="box-title">@ViewBag.Title</b>
        </div>

        <div class="box-body">
            <div class="row">
                @Html.Label("Insurer Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.InsurerId)
                </div>
            </div>
            <div class="row">
                @Html.Label("Schedule Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.ScheduleId)
                </div>
            </div>
            <div class="row">
                @Html.Label("Actuary Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.ActuaryId)
                </div>
            </div>
            <div class="row">
                @Html.Label("Rate Type", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.RateType)
                </div>
            </div>
            <div class="row">
                @Html.Label("Class Of Risk Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.ClassOfRiskId)
                </div>
            </div>
            <div class="row">
                @Html.Label("Payment Duration", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.PaymentDuration)
                </div>
            </div>
            <div class="row">
                @Html.Label("Coverage Duration", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CoverageDuration)
                </div>
            </div>
            <div class="row">
                @Html.Label("Payment Frequency", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.PaymentFrequency)
                </div>
            </div>
            <div class="row">
                @Html.Label("Factor", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.Factor)
                </div>
            </div>
            <div class="row">
                @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
            <div class="row">
                @Html.Label("Record Status", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.RecordStatus)
                </div>
            </div>
            <div class="row">
                @Html.Label("Created By", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CreatedBy)
                </div>
            </div>
            <div class="row">
                @Html.Label("Updated By", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.UpdatedBy)
                </div>
            </div>
            <div class="row">
                @Html.Label("Created Date", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CreatedDate)
                </div>
            </div>
            <div class="row">
                @Html.Label("Updated Date", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.UpdatedDate)
                </div>
            </div>
            <div class="row">
                @Html.Label("Is Active", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.IsActive)
                </div>
            </div><br />


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <div class="box-footer">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <a href="/premiumrate" class="btn btn-default">Back</a>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleted" style="background-color:#008CBA; color:white;">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal" id="deleted" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width:400px">

                            <div class="modal-body">
                                <p><b>Are you sure to delete this?</b></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                <input type="submit" value="Delete" class="btn btn-primary" style="background-color:#008CBA; color:white;" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        </div>
    </div>

